---
import type { Sponsor } from "@/types/reconocimientos";
import { Image } from "astro:assets";

interface Props {
  sponsors: Sponsor[];
  title?: string;
  description?: string;
}

const {
  sponsors,
  title = "Reconocidos por la excelencia",
  description = "Estamos certificados y recomendados por las principales plataformas y entidades del sector turístico.",
} = Astro.props;

const allSponsors = [...sponsors, ...sponsors];
---

<section
  class="max-w-7xl px-6 py-10 overflow-hidden w-full relative group mx-auto flex gap-x-5 flex-col"
>
  <div class="mb-5">
    <h2
      class="text-center text-balance text-4xl md:text-5xl text-primary leading-tight mb-3"
    >
      {title}
    </h2>
    <p class="text-center text-xl text-pretty">
      {description}
    </p>
  </div>

  <div
    class="slider-track flex mx-auto gap-x-5 lg:gap-x-24 w-[200%] animate-scroll group-hover:[animation-play-state:paused]"
  >
    {
      allSponsors.map((sponsor) => (
        <Image
          src={sponsor.image}
          alt={sponsor.alt}
          layout="constrained"
          decoding="async"
          loading="lazy"
          class="w-28 mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
        />
      ))
    }
  </div>
</section>

<style>
  /* Animación del slider */
  .slider-track {
    animation: scroll 15s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
