<section
  class="max-w-7xl px-6 py-10 overflow-hidden w-full relative group mx-auto flex gap-x-5 flex-col"
>
  <div class="mb-5">
    <h2
      class="text-center text-balance text-4xl md:text-5xl text-primary leading-tight mb-3"
    >
      Reconocidos por la excelencia
    </h2>
    <p class="text-center text-xl text-pretty">
      Estamos certificados y recomendados por las principales plataformas y
      entidades del sector turístico.
    </p>
  </div>

  <div
    class="slider-track flex mx-auto gap-x-5 lg:gap-x-24 w-[200%] animate-scroll group-hover:[animation-play-state:paused] px-6"
  >
    <!-- Logos (duplicados para el loop) -->
    <img
      src="/reconocimientos/tripadvisor.webp"
      alt="Logo de Tripadvisor"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/get-your-guide.webp"
      alt="Logo de Get Your Guide"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/gercetur.webp"
      alt="Logo de Gercetur"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/compromiso-calidad.webp"
      alt="Logo de Compromiso de Calidad"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/agencia-registrada.webp"
      alt="Logo de Agencia Registrada"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />

    <!-- Duplicados -->
    <img
      src="/reconocimientos/tripadvisor.webp"
      alt="Logo de Tripadvisor"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/get-your-guide.webp"
      alt="Logo de Get Your Guide"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/gercetur.webp"
      alt="Logo de Gercetur"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/compromiso-calidad.webp"
      alt="Logo de Compromiso de Calidad"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
    <img
      src="/reconocimientos/agencia-registrada.webp"
      alt="Logo de Agencia Registrada"
      loading="lazy"
      class="h-[100px] mr-10 shrink-0 filter grayscale hover:grayscale-0 transition"
    />
  </div>
</section>

<style>
  /* Animación del slider */
  .slider-track {
    animation: scroll 15s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
